.app-logo {
  height: 30px;
  position: relative;
  display: block;
  margin-left: 40px;
  margin-top:-10px;
}

.app-header-footer {
  background-color: rgb(33, 45, 51);
  height: 10px;
  padding: 20px;
  color: white;
}

.header {
  grid-column: span 12;
}

.footer {
  grid-column: span 12;
  position: relative;
  margin-top: 10px;
  background-color: black;
}

.wrapper {
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 40px 100px 280px;
  grid-column-gap: 30px;
  grid-row-gap: 50px;   
  align-content: center;
}
.content {
  grid-column: span 12;
  background-color: whitesmoke;
  position:relative;
  margin-top: 20px;
  margin-left: 50px;
  align-content: center;
}

@media screen and (max-width: 480px) {
  .header {
      grid-column: span 6;
  }
  
  .menu {
      grid-row: 1;
      grid-column: span 6;
  }
  
  .content {
      grid-row: 3;
      grid-column: span 5;
  }
}
